body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container-center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container-left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.container-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.block-list {
    list-style: none;
    padding: 0;
}

.block {
    width: 450px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 38px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    background-color: #fcaa7d;
    color: #5f5f5f
}


.block2 {
    width: 450px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 38px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    background-color: #f88d84;
    color: #4f4f4f;
    

}

.block3 {
    width: 450px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 38px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    background-color: #f17994;
    color: #4f4f4f;
}

/* .block:first-child {
    background-color: #fcaa7d;
    color: #5f5f5f
}

.block:nth-child(2) {
    background-color: #f88d84;
    color: #4f4f4f;
}

.block:last-child {
    background-color: #f17994;
    color: #4f4f4f;
} */

.block-text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.block:hover {
    background-color: #ff9a63;
}

.block2:hover {
    background-color: #fa7f74;
}

.block3:hover {
    background-color: #f06c8b;
}

.container h1,
.container ul {
    margin: 0; 
    padding: 0;
}

.side-nav-left li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.side-nav-right li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul.side-nav-left { /* левый блок меню */
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

ul.side-nav-right { /* правый блок меню */
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

ul.side-nav-left.visible { /*видимость левой навигации*/
    display: flex;
    max-height: 300px;
    height: auto;
  }

ul.side-nav-right.visible { /*видимость правой навигации*/
    display: flex;
    max-height: 350px;
}

img.side-menu-icon {
    order: 2;
    width: 44px;
    height: 44px;
}

img.side-right-menu-icon {
    order: 1;
    width: 44px;
    height: 44px;
}

.side-menu-text {
    order: 1;
    margin: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #5F5F5F;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.side-right-menu-text {
    order: 2;
    margin: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #5F5F5F;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

